Support for REFER

Are there any plans to support RFC3515 / REFER SIP method?
If you can point me in the right direction I'll spend some time on the development.

http://sourceforge.net/p/peers/discussion/683023/thread/b98efd23/

On Wed, Aug 19, 2015 at 11:58 AM, Janno de Wit <notifications@github.com>
wrote:

> Are there any plans to support RFC3515 / REFER SIP method?
> If you can point me in the right direction I'll spend some time on the
> development.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/ymartineau/peers/issues/11>.
>


It seems that before REFER method (RFC3515) can be implemented, the following RFCs must be supported:
* generic event notification package (RFC3265). That's a mechanism to subscribe / unsubscribe to any kind of notifications (SUBSCRIBE method) and receive the corresponding notifications (NOTIFY method).
* dialog event package (RFC4235): notification of other user dialog state

For supervised call transfer, there's an additional prerequisite: support on-hold (Re-INVITE with sendonly/recvonly), and "Replaces" header (RFC3891):
* as client
* as server

For blind transfer, there's another additional prerequisite: support sipfrag (RFC3420)
* as client
* as server